@font-face
{
  font-family: lazer84; src: url('Lazer84.ttf');
  font-family: streamster; src: url('Streamster.ttf');
}

#scene
{
  position: absolute;
  top: 150px;
  left: 0px;
  right: 0px;
  bottom:0px;
  overflow: hidden;
}
body
{
  background-color: #200020;
}
p
{
  font-family: helvetica;
  color: #FFFF00;
  text-transform: uppercase;
}
h1
{
  font-family: lazer84;
  font-size: 2em;;
  color: #DDDDDD;
  cursor: pointer;
}

h3
{
  font-family: lazer84;
  font-size: 1em;;
  color: #bb00bb;
}

h3 a
{
  color: #00bbbb;
  cursor: pointer;

}

@media (max-width: 1000px)
{
  h1
  {
    font-size: 1.5em;
  }
}
@media (min-width: 1001px) and (max-width: 1500px)
{
  #scene
  {
    top: 200px
  }
}
