<!DOCTYPE html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" type = "text/css" href="css/stylesheet.css" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Sebastian Laitila's homepage</title>

  </head>
  <body ng-controller="main">
    <center><h1 ng-click="changeposition({x:0, y:0, z:0})">Sebastian Laitila's homepage</h1></center>
    <center>
      <p>Laser engraved wood makes by Aava Laitila & Sebastian Laitila</p>
      <h3>
        <a ng-click="changeposition({x:-1200, y:0, z:-1000})"> Outrun </a>|
        <a ng-click="changeposition({x:-1100, y:0, z:-1000})"> Blinds </a>|
        <a ng-click="changeposition({x:-1000, y:0, z:-1000})"> Fish </a>|
        <a ng-click="changeposition({x:-900, y:0, z:-1000})"> Bass </a>|
        <a ng-click="changeposition({x:-800, y:0, z:-1000})"> King </a>|
      </h3>
    </center>
    <div id="scene"></div>
    <script src="js/angular.min.js"></script>
    <script src="js/three.min.js"></script>
    <script src="ng-app.js"></script>
    <script>
    var camera, spotlight, scene, renderer;
var geometry, material, mesh;
var currentPosition = {x: 2000, z: 0}
var endPosition = {x: 0, z: 0}
var objects =
[
{content: "Welcome!", position: {x: 0, y: 100, z: 0}},
]
init();
setTimeout(animate, 3000);

function maketext (content, position)
{
  var loader = new THREE.FontLoader();
  loader.load('https://kotirintamamies.github.io/js/font.json', function(font)
  {
      var text = new THREE.TextGeometry(content, { size: 20, font: font,  height: 4});
      var textMaterial = new THREE.MeshPhongMaterial( { color: 0x40FFff, shading: THREE.FlatShading} );
      var textMesh = new THREE.Mesh(text, textMaterial)
      var text_bbox = new THREE.Box3();


      text_bbox.setFromObject(textMesh);
      textMesh.position.z = position.z-150;
      textMesh.position.x = position.x-(text_bbox.min.x+text_bbox.max.x)/2;
      textMesh.position.y = position.y;
      scene.add(textMesh);

  })
}

function init() {

    camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 1, 10000);
    camera.position.z = 2000;
    camera.position.y = 80;
    spotlight = new THREE.PointLight(0xFFFFFF, 3, 200, 1)
    spotlight.position.set(0,0,0)
    scene = new THREE.Scene();
    objects.forEach(function(obj) {maketext(obj.content, obj.position);})


    scene.fog = new THREE.FogExp2( 0x000000, 0.0012 );

    sun = new THREE.SphereGeometry(1000, 10, 10);


    material = new THREE.MeshBasicMaterial({
        color: 0xffBB00,
        wireframe: false, fog: false   });

    mesh = new THREE.Mesh(sun, material);
    mesh.position.z = -8000;
    mesh.position.y = 1500;

    var grid = new THREE.GridHelper( 5000, 200 ,0xFF00FF, 0xFF00FF);

    var groundMat = new THREE.MeshBasicMaterial({wireframe: true, color: 0x006020, side: THREE.DoubleSide, fog: false});
    var plane = new THREE.PlaneGeometry(15000, 500, 9, 4);
    var mountains = new THREE.Mesh(plane, groundMat)
    mountains.position.z = -2500;
    mountains.position.y=100
    mountains.rotation.x= -90;
    var vertexMap = [
      -100, -100, -100, -100, -100, -100, -100, -100, -100, -100,
      -100, 100, 100, 0, -50, 0, 50, 300, 150, -100,
      -100, 600, 800, 200, -50, 0, 200, 600, 300, -100,
      -100, 100, 100, 0, -50, 0, 50, 300, 150, -100,
      -100, -200, -100, -100, -100, -100, -100, -100, -100, -100,
    ]
    for(var i = 0, l=plane.vertices.length; i<l;i++)
    {
      var vertex=plane.vertices[i];
      vertex.z = vertexMap[i]
    }

    scene.add(mountains)


    scene.add(mesh);
    scene.add(grid);

    var light = new THREE.AmbientLight( 0x404040 );
    scene.add(light);
    scene.add(spotlight);
    renderer = new THREE.WebGLRenderer();
    renderer.setSize(window.innerWidth, window.innerHeight);

    var container = document.getElementById('scene')
    container.appendChild(renderer.domElement);

}




function getMovement(current, end)
{
  return (end-current)/20
}

function animate() {

    requestAnimationFrame(animate);
    currentPosition.x = camera.position.x;
    currentPosition.z = camera.position.z;

    if (currentPosition.x<endPosition.x-0.1) currentPosition.x+=getMovement(currentPosition.x, endPosition.x);
    if (currentPosition.x>endPosition.x+0.1) currentPosition.x+=getMovement(currentPosition.x, endPosition.x);
    if (currentPosition.z<endPosition.z-0.1) currentPosition.z+=getMovement(currentPosition.z, endPosition.z);
    if (currentPosition.z>endPosition.z+0.1) currentPosition.z+=getMovement(currentPosition.z, endPosition.z);

    camera.position.x = currentPosition.x;
    camera.position.z = currentPosition.z;
    spotlight.position.set(camera.position.x, camera.position.y, camera.position.z);

    renderer.render(scene, camera);

}

    </script>
  </body>
</html>
